/* 
10px = 62.5%
8px = 50%
7px = 43.75%
6px = 37.5%
5px = 31.25%
 */


* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body{
  background-color: rgb(223, 223, 213);
  padding: 0 15px;
}


.profile-picture-container{
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.profile-picture{
  max-width: 600px;
  width: 100%;
  border-radius: 40%;
}

.container-for-titles{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.actor-name{
  font-family: Mrs Saint Delafield, cursive;
  font-size: 12rem;
  font-weight: 700;
  /* display: flex; */
  /* justify-content: center; */
  padding: 0 0 0 20px;
}
.title{
  font-family: Roboto, Arial;
  font-size: 50px;
  font-weight: 600;
  /* display: flex;
  justify-content: center; */
}
.write-up{
  font-family: Roboto, Arial;
  font-size: 2.2rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 5px;
  padding: 0 10px;

}

.main-div{
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  width: 90%;
  max-width: 900px;
  padding: 2rem;
  gap: 3rem;
}

.headshot,
.showreel,
.speech,
.upcoming,
.booking-button{
  font-family: Roboto, Arial;
  font-weight: 500;
  font-size: 3rem;
  padding: 2.2rem 0.2rem;
  color: white;
  background-color: black;
  border-radius: 5rem;
  cursor: pointer;
}


.head-1,
.head-2{
  font-family: Roboto, Arial;
  font-size: 2.5rem;
  font-weight: 700;
  font-style: italic;
  display: flex;
  justify-content: center;
}

.platforms{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  gap: 20px;
  max-width: 500px;
}


.instagram,
.facebook,
.linkedin,
.youtube,
.x,
.tiktok {
  width: 100%;
}

@media (max-width: 750px) {
  html {
    font-size: 43.75%;
  }
}
@media (max-width: 500px){

 html {
  font-size: 40%;
 }
}

@media (max-width: 400px) {
  html {
    font-size: 34%;
  }
}

@media (max-width: 350px) {
  html {
    font-size: 31.25%;
  }
}
