* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body{
  background-color: rgb(223, 223, 213);
  padding: 0 15px;
}


.profile-picture-container{
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.profile-picture{
  max-width: 600px;
  width: 100%;
  border-radius: 40%;
}
.actor-name{
  font-family: Mrs Saint Delafield, cursive;
  font-size: 8rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  padding: 0 0 0 20px;
}
.title{
  font-family: Roboto, Arial;
  font-size: 50px;
  font-weight: 600;
  display: flex;
  justify-content: center;
}
.write-up{
  font-family: Roboto, Arial;
  font-size: 19px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 5px;
  padding: 0 10px;

}

/* .main-div-container{
  background-color: rgb(223, 213, 223);
  display: flex;
  justify-content: center;
} */

.main-div{
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  width: 90%;
  max-width: 900px;
  padding: 2rem;
  gap: 2rem;
}

.headshot,
.showreel,
.speech,
.upcoming,
.booking-button{
  font-family: Roboto, Arial;
  font-weight: 500;
  font-size: 2rem;
  padding: 2.2rem 0.2rem;
  color: white;
  background-color: black;
  border-radius: 5rem;
  cursor: pointer;
}


.head-1,
.head-2{
  font-family: Roboto, Arial;
  font-size: 2.5rem;
  font-weight: 700;
  font-style: italic;
  display: flex;
  justify-content: center;
}

.platforms{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  gap: 20px;
  max-width: 500px;
}


.instagram,
.facebook,
.linkedin,
.youtube,
.x,
.tiktok {
  width: 100%;
}


/* @media(max-width: 200px){
.headshot,
.showreel,
.speech,
.upcoming,
.booking-button {
  font-family: Roboto, Arial;
  font-weight: 500;
  font-size: 15px;
  padding: 16px 2px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: white;
  background-color: black;
  border-radius: 50px;
  white-space: nowrap;
  cursor: pointer;
}


.platforms{
  width: 300px;
  background-color: lightblue;
}

} */
